* {
    box-sizing: border-box;
  }

header {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    margin: 0 auto;
    color: #b99095;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 30px;
    background-color: #3d5b59
    }

button :hover {
    background-color: #3d5b59;
}

button {
    background: color #b5e5cf;;
    color:#b99095;
    border: none;
    padding:10px;
    border-radius: 5px;
    cursor:pointer;
  }

button :hover {
    background-color: #3d5b59;
}

#header div {
    margin-right: 5px;
    margin-top: 15px;
    float: right;
    font-size: 20px;
}

body {
    background-color: #fcb5ac; 
    font-family: 'Trebuchet MS', Arial, sans-serif;
    justify-content: center;
}


#main-font {
    padding-top: 5px;
    padding-left: 400px;
    padding-bottom: 15px;
    font-size: 25px;
    color: #b5e5cf
}

.words {
    margin-left: -175px;
    padding-right: 175px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: medium;
    color: #3d5b59;
}

.start-quiz {
    margin-left: 75px; 
    font-size: medium; 
}

.hide {
    display:none;
  }

#quizSection {
    padding-left: 175px;
    padding-right: 150px;
    padding-top: 75px;
    padding-bottom: 15px;
    font-size: medium;
    color: #3d5b59;
    justify-content: center;
}


#question {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 15px;
}

#quizSection button {
    margin-left: 350px;
}

#complete h1 {
    padding-top: 5px;
    padding-left: 400px;
    padding-bottom: 15px;
    font-size: 25px;
    color: #b5e5cf
}

#complete p {
    padding-left: 400px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: medium;
    color: #3d5b59;
}

#initials {
    margin-left: 350px
}

#highScores h1 {
    padding-top: 5px;
    padding-left: 400px;
    padding-bottom: 15px;
    font-size: 25px;
    color: #b5e5cf
}

#highScores div {
    padding-left: 200px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: medium;
    color: #3d5b59;
}

#highScores button {
    margin-left: 250px;
}
